div{
  background-color:rgb(14, 73, 136);
  border-radius:50px;
 }
  
 img {
  width:100px; 
  height: 150px;
  display:center;
  box-shadow: 10px 10px 7px  rgb(54, 5, 228);
  padding: 10px;
  border-radius: 30px;
  background-color:rgb(51, 0, 255);
  padding:auto;
  border: 5px rgb(38, 78, 171);
 }

 p {
  font-size:medium;
  color: #fefefe;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-style: italic;
  margin:auto;
  display:inline-block;
  text-align:center;
 } 
 
        
 h1 {
  inline-size: 100%;
  display: flex-block;
  font-size: xx-large;
  font-style: italic;
  text-align: center;
  color: rgb(25, 143, 143);
   
 }       




.row {
  padding: 30px;
  background-color:rgb(14, 73, 136);
  text-align: center;
}


/*etiqueta nombre*/
#nombre {
  font-weight: bold;
  margin-top: 30%;
  color: #093361;
  text-align: center;

}