<form class="m-3">
   <div class="row">
    <h1>Acerca de mi</h1>
     <div id="Sobre mi">
      
       <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/mifoto.jpg" id="mifoto">
     <p id="nombre"> {{persona.nombre}}{{persona.apellido}}</p>
            <a href="#" class="btn-rigth"><i class="fa fa pen" aria-hidden="true">
              
            <p>Full Stack Developer Jr</p><br>
            <p>Córdoba (Argentina)</p><br>
            <p><a href="#" class="btn-rigt">Informacion de Contacto</a><i class="fa fa pen" aria-hidden="true">
            </i></p>              
           <div class="parrafos">
            <p>Asesora en Alimentación Saludable, recibida en Coefix con titulo oficia</p><br>
            <p>Profesora de Entrenamiento Funcional, recibida en Coefix con titulo oficial</p><br>
            <p>Estudiante de Programación en Argentina Programa</p>
            </div>
            <div>
                    
            </div>
           
