<div class="row">
<div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
    <img src="../../../assets/mifoto.jpg"
    class="img-fluid" id="mifoto">
</div>
<div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
    <p id="nombre">Patricia Monica Galun</p>
    <p>Full Stack Developer Jr</p>
</div>
<div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
    <span>
        <h1>Acerca de mi</h1>
     <p>Lorem ipsum dolor sit amet consectetur
             adipisicing elit. Qui consectetur ducimus, in architecto, commodi reprehenderit et magni natus hic, distinctio ipsam quod eum atque adipisci
             possimus est fugit. Ut, voluptatum!</p>
    </span>
</div>
</div>
