<div class="row">
    <h1>Hard & Soft Skill</h1>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
  [percent]="95"
  [radius]="100"
  [titleColor]="'#2E86C1'"
  [title]="'HTML'"
  [titleFontSize]="'4em'"
  [showUnits]="false"
  [showSubtitle]="false"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="4"
  [outerStrokeColor]="'#4FC3F7'"
  [innerStrokeColor]="'#154360'"
  [animation]="true"
  [animationDuration]="600"

></circle-progress>
    
</div>

<div class="row">
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
  [percent]="80"
  [radius]="100"
  [titleColor]="'#2E86C1'"
  [title]="'CSS'"
  [titleFontSize]="'4em'"
  [showUnits]="false"
  [showSubtitle]="false"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="4"
  [outerStrokeColor]="'#4FC3F7'"
  [innerStrokeColor]="'#154360'"
  [animation]="true"
  [animationDuration]="600"

></circle-progress>
    
</div>

<div class="row">
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
  [percent]="50"
  [radius]="100"
  [titleColor]="'#2E86C1'"
  [title]="'JS'"
  [titleFontSize]="'4em'"
  [showUnits]="false"
  [showSubtitle]="false"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="4"
  [outerStrokeColor]="'#4FC3F7'"
  [innerStrokeColor]="'#154360'"
  [animation]="true"
  [animationDuration]="600"

></circle-progress>

</div>

<div class="row">
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
  [percent]="80"
  [radius]="100"
  [titleColor]="'#2E86C1'"
  [title]="'ANGULAR'"
  [titleFontSize]="'2.5em'"
  [showUnits]="false"
  [showSubtitle]="false"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="4"
  [outerStrokeColor]="'#4FC3F7'"
  [innerStrokeColor]="'#154360'"
  [animation]="true"
  [animationDuration]="600"

></circle-progress>
    
</div>

<div class="row">
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
  [percent]="70"
  [radius]="100"
  [titleColor]="'#2E86C1'"
  [title]="'DB'"
  [titleFontSize]="'4em'"
  [showUnits]="false"
  [showSubtitle]="false"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="4"
  [outerStrokeColor]="'#4FC3F7'"
  [innerStrokeColor]="'#154360'"
  [animation]="true"
  [animationDuration]="600"

></circle-progress>
  
</div>

<div class="row">
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
  [percent]="90"
  [radius]="100"
  [titleColor]="'#2E86C1'"
  [title]="'GitHub'"
  [titleFontSize]="'4em'"
  [showUnits]="false"
  [showSubtitle]="false"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="4"
  [outerStrokeColor]="'#4FC3F7'"
  [innerStrokeColor]="'#154360'"
  [animation]="true"
  [animationDuration]="600"

></circle-progress>
   
</div>

<div class="row">
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
  [percent]="90"
  [radius]="100"
  [titleColor]="'#2E86C1'"
  [title]="'Json'"
  [titleFontSize]="'4em'"
  [showUnits]="false"
  [showSubtitle]="false"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="4"
  [outerStrokeColor]="'#4FC3F7'"
  [innerStrokeColor]="'#154360'"
  [animation]="true"
  [animationDuration]="600"

></circle-progress>
   
</div>

<div class="row">
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
  [percent]="90"
  [radius]="100"
  [titleColor]="'#2E86C1'"
  [title]="'POO'"
  [titleFontSize]="'4em'"
  [showUnits]="false"
  [showSubtitle]="false"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="4"
  [outerStrokeColor]="'#4FC3F7'"
  [innerStrokeColor]="'#154360'"
  [animation]="true"
  [animationDuration]="600"

></circle-progress>
  
</div>
