<form class="m-3"></form> 
 <div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2"></div>
<div class="card mat-card">
    <div id="Titulos y Estudios">
      <div class="card-titles">
        <h1>Estudios</h1>
        <div class="btn-edit">
          <a href="#" class="btn-right"><i class="fa fa plus"></i></a>
        </div>
      </div>
    </div>
    <div>
      <div class="col-lg-11">
      <ul class="items-list">
        <li>
          <div class="data-container">
            <img class="logo-image" src="../../../assets/Nutricion.png" id="Nutricion">-
            <h2>Asesora en Alimentación Saludable</h2> <br>
            <h3>Titulo 2022</h3><br>
            <p>Como mantener un peso y una alimentación saludable </p>
          </div>
        </li>
        <li>
          <div>
          <img class="logo image" src="../../../assets/entren func.png" id="EF">-
            <h2>Instructora en Entrenamiento Funcional</h2><br>
             - <h3>Titulo 2022</h3><br>
         <p>Ejercicios Funcionales para trabajr todo el cuerpo</p> 
          </div>
    </li>
    <li>
          <div>
            <img class="logo image" src="../../../assets/Argentina-Programa-png.webp" id="APloui">-
              <h2> Full Stack developer</h2> - <h3>Estudiante</h3><br>
           <p>Argentina-Programa</p> 
            </div>
    </li>