<div class="row">
    <h1>Proyectos Nuevos</h1>
    <div class="contenedor">
        <div class="col-sm-12 col-med-7 col-lg-7 parte1">
            <h1>Pagina Propia</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores ipsa dicta saepe pariatur et hic quae perferendis earum accusantium! Obcaecati assumenda expedita rem facere iste laborum minima debitis explicabo libero?</p>
        </div>
        <div class="col-sm-12 col md-7 col-lg-3 offset-md-1
        offset-lg-1 parte2">
            <img src="../../../assets/insta.png" class="img-fluid img-proyecto">
        </div>
    </div>
</div>
