#logoAPP {
    width: 130px;; 
    height: 90px;
    float: left;
    margin: 10px 10px;
    border-radius: 10px 10px 10px
   }
  
   div{
    background-color:rgb(14, 73, 136);
    border-radius:30px;
 
   }
    .container{
       background-color:rgb(14, 73, 136);
       flex-direction: column;
           }
           
    .btn{
      background-color:aqua;
      padding:auto;
      border-bottom: 50%;
      margin: 10px;
      border-radius:50px;
      border: 5px inset rgb(38, 78, 171);
      float: right;
    }
 
    .redes{
       display:flex;
       flex-direction: column;
       align-items: center;
    }
 
    img{
       width:40px; 
       height: 40px;
       float: right;
       margin: 10px 10px 10px;
       border-radius: 10px;
        }
 
      div{
       background-color: rgb(14, 73, 136)
       
    }
 
   /*Para vista celular*/
   @media(max-width:575px){
     .container{flex-direction: column;}
 
   
 }
 