<form class="m-3"></form>
<div class="row">
    <div class="container">
        <div class="logo">
            <img src="../../../assets/Argentina-Programa-png.webp" id="logoAPP">
        </div>

        <div> <button type="button" class="btn btn-outline-primary">Enter</button></div>

        <div class="redessociales">
            <div>
                <a href=""><img src="../../../assets/fb.png" alt="face"></a>
                <a href=""><img src="../../../assets/GITHUB.png" alt="GITHUB"></a>
                <a href=""><img src="../../../assets/insta.png" alt="insta"></a>
                <a href=""><img src="../../../assets/twt.png" alt="twt"></a>

            </div>
        </div>
    </div>
</div>


