<div class="card mat-card">
<div id="Experiencia Laboral">
  <div class="card-titles">
    <h1>Experiencia Laboral</h1>
    <div class="btn-edit">
      <a href="#" class="btn-right"><i class="fa fa plus"></i></a>
    </div>
  </div>
</div>
<div>
  <div class="col-lg-11">
  <ul class="items-list">
    <li>
      <div class="data-container">
        <img
        class="logo-image"
        src="../../../assets/aegis.png" id="aegis">-
        <h2>Aegis</h2> - <h3>(03/04 hasta 06/2012)</h3><br>
        <p>Supervisora para Claro en la cuenta de Loyalty</p>
      </div>
    </li>
    <li>
      <div>
      <img
        class="logo image"
        src="../../../assets/Atento.png" id="atento">-
        <h2>Atento</h2> - <h3>(07/2013 hasta actualmente)</h3><br>
     <p>Asesora de Venta de Productos Intangibles</p> 
      </div>
</li>
<li>
      <div>
        <img
          class="logo image"
          src="../../../assets/Nutricion.png" id="nutricion">-
          <h2>Consultorio</h2> - <h3>(01/22)</h3><br>
       <p>Asesora en alimentación saludable</p> 
        </div>
</li>
   

 