div{
    background-color: rgb(182, 201, 229);
    }
    app-logo-ap{
 
        margin-top: 25px;
    }
    

app-redessociales{
    float:right;
    margin-top: 25px;
    padding: 20px;
     width:auto;

}




    

