<div class="row">
<app-logo-ap></app-logo-ap>

   <div> <h1 class="h1-class"><span>P</span>M<span>G</span></h1></div>
    <div class inputmode="botones">
      <input type="text" value= "mail" required=""><br>
      <input type="text" value= "password"required=""><br>
      <div class="btn-edit" onclick="cambiar_parrafo()">
      <a href="#" class="btn-rigth">
        <i class="fa fa pen"></i> </a>
      </div>
      <div>
        <input id="edit-acercade" type="text" oninput="myFunction2(this.value)" style="display: none;">
      </div>

    

        <app-banner></app-banner>
        

